Makefile
Makefile.in

.libs
.deps

aclocal.m4
autom4te.cache
config.log
config.lt
config.status
configure
libtool

*.lo
*.la

config/compile
config/config.guess
config/config.sub
config/depcomp
config/distscript.sh
config/install-sh
config/libtool.m4
config/ltmain.sh
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/missing
