#
# Suggested uses for this file:
#
# 1. Install globally for your specific user:
#
#        pip3 install --user -r sphinx-requirements.txt
#
#    Note where the "sphinx-build" executable was installed, and
#    ensure that it is in your PATH.
#
# 2. Install globally on the system:
#
#        pip3 install -r sphinx-requirements.txt
#
#    The "sphinx-build" executable was *probably* installed somewhere
#    that is already in your PATH.  But you should probably double
#    check to make sure.
#
# 3. Install in a Python virtual environment:
#
#        python3 -m venv ompi-docs-venv
#        . ./ompi-docs/venv/bin/activate
#        pip3 install -r sphinx-requirements.txt
#
sphinx>=4.0.2
sphinx-rtd-theme
recommonmark
